bin/
obj/
/packages/

# Jetbrains tools

.idea
riderModule.iml
/_ReSharper.Caches/
KOISubnauticaMods.sln.DotSettings.user

# Visual Studio files
*.vs
*.csproj.user

# Windows tools

**/deploy_local.bat
